*,
*::before,
*::after {
  /* outline: 1px solid red; */
}

:root {
  --text: oklch(13.441% 0.00002 271.152);
  --icons: oklch(95.514% 0.00011 271.152);
  --secondary-icons: oklch(18.674% 0.00002 271.152);
  --background: oklch(90.407% 0.04856 236.959);
  --foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(73.47% 0.097 252.4);
  --primary: oklch(70.182% 0.14592 56.362);
  --accent: oklch(81.27% 0.076 64.45);
  --sidebar-width-open: min(75vw, 250px);
  --big-icon: 35px;
  --small-icon: 25px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--background);
  color: var(--icons);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: all 300ms ease;
  background-color: var(--secondary);
  padding-top: 1rem;
  padding-inline: 0.5rem;
  height: 100%;
  overflow: hidden;
  font-weight: 900;

  &.open {
    width: var(--sidebar-width-open);

    & .dashboard-title {
      display: block;
      opacity: 1;
      width: 100%;
    }
  }

  & svg {
    --_size: 1.1;
    fill: var(--icons);
    transition: all 300ms ease;
    width: calc(var(--big-icon) * var(--_size));
    height: calc(var(--big-icon) * var(--_size));
  }

  & .dashboard-title {
    opacity: 0;
    transition: opacity 300ms ease, max-width 300ms ease;
    max-width: 0;
    color: var(--icons);
    line-height: 1.8;
    white-space: nowrap;
  }
}

@media screen and (max-width: 48rem) {
  .sidebar.open + .right {
    opacity: 0.3;
    overflow: hidden;
  }
}

.sidebar-options {
  display: grid;
  gap: 1rem;

  & svg {
    fill: var(--icons);
    width: var(--small-icon);
    height: var(--small-icon);
  }
}

.flex-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 300ms ease;
  cursor: pointer;
  margin-block: 0.2rem;
  border-radius: 0.5rem;
  color: var(--icons);
  line-height: 1.8;
  text-decoration: none;

  & span {
    opacity: 0;
    transition: opacity 300ms ease, max-width 300ms ease;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}

.sidebar.open .flex-opt {
  justify-content: flex-start;
  padding-left: 2rem;

  & span {
    opacity: 1;
    max-width: fit-content;
  }
}

.toggle-sidebar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  width: 100%;
}

.sidebar.open .toggle-sidebar {
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.toggle-sidebar:hover {
  border-radius: 1rem;
  background-color: oklch(0% 0 0 / 0.1);
}

.hidden {
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 50vw;

  & input {
    border: none;
    border-radius: 1rem;
    background-color: oklch(90.724% 0.03332 298.969);
    padding: 0.5rem;
    width: 100%;

    &::placeholder {
      font-size: 0.75rem;
    }
  }
}

.icon {
  --small-icon: 1.75rem;
  fill: var(--secondary-icons);
  width: var(--small-icon);
  height: var(--small-icon);

  @media screen and (min-width: 40rem) {
    --small-icon: 2.5rem;
  }
}

.profile-right {
  display: flex;

  flex-shrink: 0;
  align-items: center;
  gap: 0.75rem;

  & svg {
    --small-icon: 1.25rem;
    fill: var(--secondary-icons);
    width: var(--small-icon);
    height: var(--small-icon);

    @media screen and (min-width: 40rem) {
      --small-icon: 2rem;
    }
  }
}

.profile-picture {
  --_size: 1.5;
  border-radius: 50%;
  width: calc(var(--small-icon) * var(--_size));
  height: calc(var(--small-icon) * var(--_size));
  overflow: hidden;

  @media screen and (min-width: 40rem) {
    --_size: 2;
  }
}

.icon-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  @media screen and (min-width: 40rem) {
    gap: 1rem;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.profile-name {
  cursor: pointer;
  color: var(--text);
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.25rem);

  & img {
    object-fit: cover;
  }
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--foreground);
  padding: 0.5rem 1rem;
  width: 100%;
  height: min-content;
  color: var(--text);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .profile-picture {
  --_size: 2.2;
  flex-shrink: 0;
  width: calc(var(--small-icon) * var(--_size));
  height: calc(var(--small-icon) * var(--_size));

  @media screen and (min-width: 40rem) {
    --_size: 3;
  }
}

.left-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.greeting {
  --ff-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;

  & h1 {
    color: var(--text);
    font-weight: bold;
    font-size: clamp(var(--ff-size), 2vw, 1.25rem);
  }

  & p {
    color: var(--text);
    font-weight: 500;
    font-size: var(--ff-size);
  }
}

.activity-button {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & button {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color: var(--secondary);
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;

    &:hover {
      background-color: oklch(from var(--secondary) calc(l * 0.8) c h);
    }

    &:focus {
      background-color: oklch(from var(--secondary) calc(l * 0.6) c h);
    }

    @media screen and (min-width: 40rem) {
      padding: 0.75rem 1.5rem;
    }
  }

  @media screen and (min-width: 40rem) {
    flex-direction: row;
    gap: 0.5rem;
  }
}
