/* style.css */
*,
*::before,
*::after {
  /* outline: 1px solid red; */
}

:root {
  --sidebar-width-open: min(75vw, 250px);
  --big-icon: 35px;
  --small-icon: 25px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  letter-spacing: var(--tracking-normal);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: all 300ms ease;
  box-shadow: var(--shadow-sm);
  background-color: var(--secondary);
  padding-top: 1rem;
  padding-inline: 0.5rem;
  height: 100%;
  overflow: hidden;
  font-weight: 900;

  &.open {
    width: var(--sidebar-width-open);

    & .dashboard-title {
      display: block;
      opacity: 1;
      width: 100%;
    }
  }

  & svg {
    --_size: 1.1;
    fill: var(--sidebar-foreground);
    transition: all 300ms ease;
    width: calc(var(--big-icon) * var(--_size));
    height: calc(var(--big-icon) * var(--_size));
  }

  & .dashboard-title {
    opacity: 0;
    transition: opacity 300ms ease, max-width 300ms ease;
    max-width: 0;
    color: var(--sidebar-foreground);
    line-height: 1.8;
    white-space: nowrap;
  }
}

@media screen and (max-width: 48rem) {
  .sidebar.open + .right {
    display: none;
    opacity: 0.3;
    overflow: hidden;
  }
}

.sidebar-options {
  display: grid;
  gap: 1rem;

  & svg {
    fill: var(--sidebar-foreground);
    width: var(--small-icon);
    height: var(--small-icon);
  }
}

.flex-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 300ms ease;
  cursor: pointer;
  margin-block: 0.2rem;
  border-radius: var(--radius);
  color: var(--sidebar-foreground);
  line-height: 1.8;
  text-decoration: none;

  & span {
    opacity: 0;
    transition: opacity 300ms ease, max-width 300ms ease;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--sidebar-accent);
    color: var(--sidebar-accent-foreground);
  }
}

.sidebar.open .flex-opt {
  justify-content: flex-start;
  padding-left: 2rem;

  & span {
    opacity: 1;
    max-width: fit-content;
  }
}

.toggle-sidebar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  width: 100%;
}

.sidebar.open .toggle-sidebar {
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.toggle-sidebar:hover {
  box-shadow: var(--shadow-2xs);
  border-radius: var(--radius);
  background-color: var(--sidebar-border);
}

.hidden {
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;

  & input {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--background);
    padding: 0.5rem;
    width: 100%;
    color: var(--foreground);

    &::placeholder {
      color: var(--muted-foreground);
      font-size: 0.75rem;
    }
  }
}

.icon {
  --small-icon: 1.75rem;
  fill: var(--foreground);
  width: var(--small-icon);
  height: var(--small-icon);

  @media screen and (min-width: 40rem) {
    --small-icon: 2.5rem;
  }
}

.profile-right {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;

  & svg {
    --small-icon: 1.5em;
    fill: var(--foreground);
    width: var(--small-icon);
    height: var(--small-icon);

    @media screen and (min-width: 40rem) {
      --small-icon: 2rem;
    }
  }
}

.profile-picture {
  --_size: 1.5;
  box-shadow: var(--shadow-xs);
  border-radius: 50%;
  width: calc(var(--small-icon) * var(--_size));
  height: calc(var(--small-icon) * var(--_size));
  overflow: hidden;
}

.icon-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  @media screen and (min-width: 40rem) {
    gap: 1rem;
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  @media screen and (min-width: 23.4375rem) {
    flex-direction: row;
  }
}

.profile-name {
  cursor: pointer;
  color: var(--foreground);
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.25rem);

  & img {
    object-fit: cover;
  }
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow-sm);
  background-color: var(--card);
  padding: 0.5rem 1rem;
  width: 100%;
  height: min-content;
  color: var(--card-foreground);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.bottom .profile-picture {
  --_size: 2.2;
  display: none;
  flex-shrink: 0;
  width: calc(var(--small-icon) * var(--_size));
  height: calc(var(--small-icon) * var(--_size));

  @media screen and (min-width: 40rem) {
    --_size: 3;
    display: block;
  }
}

.left-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.greeting {
  --ff-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;

  & h1 {
    color: var(--foreground);
    font-weight: bold;
    font-size: clamp(var(--ff-size), 2vw, 1.25rem);
  }

  & p {
    color: var(--muted-foreground);
    font-weight: 500;
    font-size: var(--ff-size);
  }
}

.activity-button {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & button {
    cursor: pointer;
    box-shadow: var(--shadow-xs);
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    color: var(--primary-foreground);
    font-weight: bold;

    &:hover {
      box-shadow: var(--shadow-sm);
      background-color: oklch(from var(--primary) calc(l * 0.9) c h);
    }

    &:focus {
      box-shadow: var(--shadow);
      background-color: oklch(from var(--primary) calc(l * 0.7) c h);
    }

    @media screen and (min-width: 40rem) {
      padding: 0.75rem 1.5rem;
    }
  }

  @media screen and (min-width: 26.5625rem) {
    flex-direction: row;
    gap: 0.5rem;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

h3 {
  color: var(--foreground);
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.project-cards {
  display: grid;
  grid-auto-columns: min(100%, 60ch);
  gap: 1.5rem;

  @media screen and (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow-sm);
  border-left: 0.5rem solid var(--primary);
  border-radius: var(--radius);
  background-color: var(--card);
  padding: 1.5rem 1rem;
  color: var(--card-foreground);

  & .project-title {
    color: var(--card-foreground);
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  & .project-description {
    flex-grow: 1;
    color: var(--muted-foreground);
    font-weight: 400;
    font-size: clamp(0.75rem, 2vw, 1rem);
  }

  & .project-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    cursor: pointer;

    & svg {
      --small-icon: 1.5rem;
      width: var(--small-icon);
      height: var(--small-icon);
      fill: var(--muted-foreground);
      transition: fill 200ms ease;

      &:hover {
        fill: var(--primary);
      }

      @media screen and (min-width: 40rem) {
        --small-icon: 2rem;
      }
    }
  }
}

.announcements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  & .announcement-card {
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius);
    background-color: var(--card);
    padding: 1.5rem 1rem;
    color: var(--card-foreground);
  }
}
